<% layout("/layouts/boilerplate") -%>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3><b><%=listing.title%></b> </h3>
        </div>
    <div class="card show-card">
        <div class="card col-6 offset-2">
            <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
              <p class="card-text"><i>owned by  <%= listing.owner.username %></i></p>
              <p class="card-text"><%=listing.description%></p>
              <p class="card-text">&#8377;<%=listing.price.toLocaleString("en-IN")%></p>
              <p class="card-text"><%=listing.location%></p>
              <p class="card-text"><%=listing.country%></p>         
            </div>
          </div>
    </div>
    <% if(curUser && listing.owner._id.equals(curUser._id)) { %>
    <div class="btns">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-1 edit-btn offset-2">Edit</a>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-3">Delete</button>
    </form>
    </div> 
    <% } %>

    <div class="rent">
        <% if(curUser) { %>
            <div class="rent-form">
                <h4>Rent This Listing</h4>
                <form class="rent-label" action="/listings/<%= listing._id %>/rent" method="POST">
                    <div class="mb-3 mt-3">
                        <label for="rentDate" class="form-label">Rent Date</label>
                        <input type="date" id="rentDate" name="rentDate" class="form-control" required>
                    </div>
                    <div class="rent-btn mt-5"><button type="submit" class="btn btn-dark ">Rent</button></div>
                </form>
            </div>
        <% } else { %>
            <p><a href="/login">Log in</a> to rent this listing.</p>
        <% } %>
        
        
    </div>
<div>
    <hr>
    <% if(curUser) { %>
    <h4>Leave a Review</h4>
    <form class="mt-3 needs-validation" action="/listings/<%= listing.id%>/reviews" method="POST" novalidate>
        <!-- <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"/>
        </div> -->
        <div class="mb-3 mt-3"></div>
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
            
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
    </div>   
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr>
    <% } %>
    <% if(listing.reviews.length > 0) { %>
    <p><b>All Reviews</b></p>
    <%for (review of listing.reviews)  {%>
        <div class="card review-card col-5 ms-3">
            <div class="card-body ms-3 mt-1">
                <h5 class="card-title"><%= review.author.username %></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                </p>
                <p class="card-text"><%=review.comment%></p>
                <p class="card-text"><%=review.rating%> stars</p>
                
            </div>
            <% if(curUser && review.author._id.equals(curUser._id)) { %>
            <form method="post" action="/listings/<%=listing._id%>/reviews/<%= review._id%>?_method=DELETE">
                <button class="btn btn-sm btn-dark ms-3 mb-3">Delete</button>
            </form>
            <% } %>
             </div>
        <% } %>
        <% } %>
</div>
<div class="col-8 offset-3 mb-3">
    <h3>Where you will be</h3>
    <div id="map"></div>
</div>
<input type="hidden" id="listing" value="<%= JSON.stringify(listing) %>">

<script>
    // Get the coordinates from the hidden input field
    let listing = JSON.parse(document.getElementById('listing').value);
    
    // console.log(coordinates);  // For debugging
    let mapToken = "<%= process.env.MAP_TOKEN %>";
    mapboxgl.accessToken = mapToken;

    const map = new mapboxgl.Map({
        container: 'map',
        center: listing.geometry.coordinates,
        zoom: 9
    });
    const marker = new mapboxgl.Marker({color: "red"})
    .setLngLat(listing.geometry.coordinates)

    .setPopup(new mapboxgl.Popup({offset: 25})
    .setHTML(`<h4>${listing.location}</h4><p>Exact Loaction provide after booking</p>`))  
     .addTo(map);
</script>

<script src="/js/rent.js"></script>

    </div>


